book_model/src/main/resources/sk/itlearning/java4/book/book.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="catalog">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="book" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="book">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="author"/>
        <xs:element ref="title"/>
        <xs:element ref="genre"/>
        <xs:element ref="price"/>
        <xs:element ref="publish_date"/>
        <xs:element ref="description"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="id" use="optional"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="author" type="xs:string"/>
  <xs:element name="title" type="xs:string"/>
  <xs:element name="genre" type="xs:string"/>
  <xs:element name="price" type="xs:float"/>
  <xs:element name="publish_date" type="xs:date"/>
  <xs:element name="description" type="xs:string"/>

</xs:schema>